@page
@model ToDoWebApp.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="main">
    <h4>Name</h4>
    <p>@Html.ValueFor(model => model.Table.Name)</p>
    <hr />
    @if (Model.Table.Details is not null)
    {
        <h4>Description</h4>
        <p>@Html.ValueFor(model => model.Table.Details)</p>
        <hr />
    }
    <h4>Importance Level</h4>
    <p>@Html.ValueFor(model => model.Table.ImportanceLevel)</p>
    <hr />
    <a asp-page="Edit" asp-route-id="@Model.Table.Id" class="btn btn-primary">Edit</a>
    <a asp-page="Index" class="btn btn-primary">Return</a>
</div>